@charset "UTF-8";
/* 10/13 11:13*/
/*<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">*/
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body {
    width: 1890px;
    height: 2400px;
}

/*
div {
    border: 1px solid black;
    box-sizing: border-box;
}

section {
    border: 1px solid black;
    box-sizing: border-box;
}
*/

header {
    width: 100%;
    height: 2%;
}

#menu {
    width: 100%;
    height: 5%;
    position: fixed;
}

#menu ul li {
    list-style: none;
    float: left;
    margin: 0px 10px;
    /* 글씨 간 간격*/
    line-height: 40px;
    padding-left: 10px;
    position: relative;
}

#menu ul li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
    line-height: 10px;
    color: black;
}

#first_nav {
    margin-left:140px;
}

#nav_div {
    width: 35%;
    height: 100%;
    float: left;
}

#nav_div a:hover {
    color: gray;
}


#logo_div {
    width: 30%;
    height: 100%;
    float: left;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
    list-style: none;
    line-height: 40px;
    text-align: center;
}

#main_logo a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

#sub_div {
    width: 35%;
    height: 100%;
    float: left;
    line-height: 70px;
}

#sub_div li {
    list-style: none;
    float: right;
    padding-right: 30px;
}

/*navigator*/
nav {
    width: 100%;
    height: 38%;
}

nav div {
    width: 100%;
    height: 100%;
}



@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

#wrap {
  margin-left: 370px;
  display: inline-block;
  height: 40px;
  padding: 0;
  position: relative;
}

input[type="text"] {
  height: 30px;
  font-size: 16px;
  display: inline-block;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-weight: 20;
  border: none;
  outline: none;
  color: black;
  padding: 3px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid black;
}

input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid black;
  cursor: text;
}
input[type="submit"] {
  margin-top: 3px;
  height: 40px;
  width: 40px;
  display: inline-block;
  float: right;
  background: url(https://ifh.cc/g/YsbNTw.png);
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  cursor: pointer;
}










/*section*/
#sec {
    width: 100%;
    height: 55%;
}

#sec_left {
    width: 10%;
    height: 100%;
    float: left;

}

#sec_middle {
    width: 80%;
    height: 100%;
    float: left;
}

#title1 {
    width: 100%;
    height: 2%;
    line-height: 30px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
}

#title2 {
    width: 100%;
    height: 2%;
    line-height: 30px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
}

#title3 {
    width: 100%;
    height: 2%;
    line-height: 30px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
}

#title4 {
    width: 100%;
    height: 2%;
    line-height: 30px;
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: bold;
}

/*추천견적*/
#recommend {
    width: 100%;
    height: 23%;
}

#recommend_layout1 {
    width: 25%;
    height: 100%;
    float: left;
}

#recommend_layout2 {
    width: 25%;
    height: 100%;
    float: left;
}

#recommend_layout3 {
    width: 25%;
    height: 100%;
    float: left;
}

#recommend_layout4 {
    width: 25%;
    height: 100%;
    float: left;
}

#self {
    width: 100%;
    height: 23%;
}

#self_layout1 {
    width: 25%;
    height: 100%;
    float: left;
}

#self_layout2 {
    width: 25%;
    height: 100%;
    float: left;
}

#self_layout3 {
    width: 25%;
    height: 100%;
    float: left;
}

#self_layout4 {
    width: 25%;
    height: 100%;
    float: left;
}

#other {
    width: 100%;
    height: 23%;
}

#other_layout1 {
    width: 25%;
    height: 100%;
    float: left;
}

#other_layout2 {
    width: 25%;
    height: 100%;
    float: left;
}

#other_layout3 {
    width: 25%;
    height: 100%;
    float: left;
}

#other_layout4 {
    width: 25%;
    height: 100%;
    float: left;
}

#usedDeal {
    width: 100%;
    height: 23%;
}

#usedDeal_layout1 {
    width: 25%;
    height: 100%;
    float: left;
}

#usedDeal_layout2 {
    width: 25%;
    height: 100%;
    float: left;
}

#usedDeal_layout3 {
    width: 25%;
    height: 100%;
    float: left;
}

#usedDeal_layout4 {
    width: 25%;
    height: 100%;
    float: left;
}

#sec_right {
    width: 10%;
    height: 100%;
    float: left;
    bottom: 0;
    right: 0;
}

#sec_right div {
    margin-left: 125px;
    position: fixed;
}

/*상단버튼*/
#sec_right .top {
    text-decoration: none;
    font-size: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    background-position: 0px -660px;
}

/*하단버튼*/
#sec_right .bottom {
    text-decoration: none;
    font-size: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../img/icon.png);
    background-position: 0px -600px;
}

/*foot*/
#foot {
    width: 100%;
    height: 10%;
}

#foot_left {
    width: 50%;
    height: 100%;
    float: left;
}

#foot_left_layout1 {
    width: 50%;
    height: 100%;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 35px;
    font-weight: bold;
    line-height: 80px;
    text-align: right;
    
}

#foot_left_layout2 {
    width: 50%;
    height: 100%;
    float: left;

}
#foot_left_layout2 li{
    list-style: none;
    line-height: 30px;
    padding-top: 10px;
}
#foot_right {
    width: 50%;
    height: 100%;
    float: left;
}

#foot_right #customerCenter{
    width: 20%;
    height: 50%;
    float: left;
    background-image: url(../img/login.png);
}
#foot_right #customerCenter_text{
    width: 80%;
    height: 50%;
    float: left;
    
}
#customerCenter_text ul{
    margin-top: 15px;
    list-style: none;
}
#customerCenter_text ul li{
    padding-top: 5px;
}
#customerCenter_text .phone{
    font-size: 25px;
}
#customerCenter_text .notice{
    font-size: 15px;
}
#foot_right #depositAccount{
    width: 20%;
    height: 50%;
    float: left;
    background-image: url(../img/login.png);
}
#foot_right #depositAccount_text{
    width: 80%;
    height: 50%;
    float: left;
}
#depositAccount_text ul{
     margin-top: 15px;
    list-style: none;
}
#depositAccount_text ul li{
        padding-top: 5px;
}